@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
  --base-color: rgb(212, 236, 221);
  --secondary-color: rgb(52, 91, 99);
  --primary-color: rgb(21, 45, 53);
  --font-clr : #ffffff;
  user-select: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: var(--base-color);
  color: var(--primary-color);

}
.box {
  margin: 0px auto;
  max-width: 600px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  height: 300px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.container a {
  color: var(--font-clr);
}
.feature {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--font-clr);
  font-size: large;
  border-radius: 1rem;
  cursor: pointer;
}


.backButton,
.button,
.areaType {
  background: var(--primary-color);
  border: var(--font-clr) solid 2px;
  font-size: large;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  outline: none;
}

.backButton {
  padding: 0.8em 1.2em;
  margin: 1rem 1rem;
  align-self: flex-start;
}

.button,
.areaType {
  padding: 0.8em 1.2em;
  display: block;
  margin: 10px auto;
}

.inputBox,
.output,
.questions {
  padding: 1.2em;
  margin: 1em;
  border: var(--primary-color) solid 2px;
  font-size: large;
  overflow:none;
}

.questions,
.areaBox {
  text-align: left;
}

label {
  display: inline-block;
  font-size: large;
}

input[type="number"] {
  width: 124px;
}

.btn {
  padding: 0.5em 0.8em;
  margin: 8px auto;
  background: var(--primary-color);
  border: var(--font-clr) solid 1px;
  font-size: large;
  border-radius: 0.6rem;
  cursor: pointer;
  color: white;
  outline: none;
}
